body {
    background-color: white;
    font-size: 90%;
    background-image: url(images/dynamicAnchorBg.png);
    font-family: Helvetica;
}


.lColumn,.mColumn,.rColumn{
    display:inline-block;
    vertical-align:middle;
}

#datosExpediente{
    display:none;
    
    margin-left:-10px;
    width:205px;
    margin-top:10px;
    background-color: rgb(247,247,247);
}

#nodo0 input[type=text]{
    width: 80px;
    margin-top:8px;
}

#nodo0 select{
    width: 150px;
    margin-top:15px;
}


#nodo0 div.categoria{
    height:150px;
}


#nodo0 div.categoria{
   width:300px;
   background-color: rgb(248,248,248);
}

#nodo0 {
    width:400px;
    height:170px;
}

h1{
    font-size:16px;
}

h3{
    font-size:13px;
}

#muestraDatosExpediente{
    margin-left:5px;
    font-size:18px;
    cursor:pointer;
}


legend{
    font-size:10px;
}


.window, .label,.boton {
    
    cursor: pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    
}

#genForm label,#docForm label,#datosExpediente label {    
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color:#333333;
    font-size: .8em;
}

#genForm div.dvBotonesGenForm,#docForm div.dvBotonesGenForm {
    display: block;
    width:200px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#genForm input[type=text],select,textarea {
    width:200px;
}

#docForm input[type=text],select,textarea{
    width:200px;
}

#explanation {

    background-color: white;
    color: black;
    border: 0.25em solid #ddd;
    position: fixed;
    visibility: hidden;
    right: 3.5em;
    top: 5em;
    width: 250px;    
    font-size: 100%;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
    padding-left:50px;
    padding-top:25px;
    z-index: 1000;
    opacity: 0.95;
    filter: alpha(opacity=95);
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    max-height:600px;
    overflow:auto;
    
}



h2 {
    font-size: 16px;
}

.window,.boton {
    border: 0.2em solid #bbbbbb;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 200px;
    z-index: 20;
    color: black;
    font-weight: bold;
    padding-top: 0.9em;
    font-size: .8em;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.boton{
    padding-top: 0;
    margin: 5px;
    width:32px;
    height:40px;
}


.btnCriterioBase {
    background-color: #baebff;
    height:30px;
    line-height:30px;
}

.btnCriterioLibre {
    height:30px;
    line-height:30px;
    font-size:16px;
}

.btnBuscarDocumentos {
    margin-bottom:15px;
}

#miniTree {
    position: fixed;
    background-color: ;
    border: solid #666666;
    width: 140px;
    height: 140px;
    z-index: 2000;
   
}
#miniTreeBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.tituloPantalla{
    font-size:24px;
    font-weight:bold;
    
    color:#333;
}

#miniTreeContainer{
    position: fixed;
    left: 50px;
    top: 50px;
}

#miniTreeHelper {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(0, 0, 0);
    opacity: .2;
    filter: alpha(opacity=20);
    width: 70px;
    height: 45px;
    cursor: pointer;
    z-index: 100;
}

#docTree {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 1400px;
    height: 1400px;
    
}



.categoria {
    background-color: #fbca7d;
    width: 200px;
    font-size: 12px;
    min-height:60px;
}


.categoria ul{
 list-style: none ;
 padding: 0;
}

.categoria ul li{
 padding-top: 5px;
}

.base {    
    background-color: rgb(214,247,255);
    height:30px;
}

.libre {    
    height:30px;
}

.documento{
    width: 80px;
    height: 100px;
}


.btnSeleccionar{
    line-height: 40px;
}

.borrar {    
    background-image: url(images/trash.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
}


.agregarCategoria {
    background-image: url(images/folder.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
}

.agregarDocumento {
    background-image: url(images/add.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
}

[type=text] {
    width: 180px;
    font-size: 12px;
}




