<?xml version='1.0' encoding='UTF-8'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <display-name>FiduciaWeb</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
  	<param-value>
      /WEB-INF/config/fiduciario_toplink.xml,
      /WEB-INF/config/fiduciario-services.xml,
  		/WEB-INF/config/fiduciario-mappings.xml
  	</param-value>   
  </context-param>
  <!--context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param-->  
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>mx.gob.nafin.fiduciario.web.filters.SecurityFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SignOffFilter</filter-name>
    <filter-class>mx.gob.nafin.fiduciario.web.filters.SignOffFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/modules/*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SignOffFilter</filter-name>
    <url-pattern>/ssologoff.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>mx.gob.nafin.fiduciario.listeners.ApplicationStartUp</listener-class>
  </listener>
  <!--listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>MenuDispatcherServlet</servlet-name>
    <servlet-class>mx.gob.nafin.fiduciario.web.servlets.MenuDispatcherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Fiduciario</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        /WEB-INF/config/fiduciario_toplink.xml,
        /WEB-INF/config/fiduciario-services.xml,
        /WEB-INF/config/fiduciario-mappings.xml
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fiduciario</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuDispatcherServlet</servlet-name>
    <url-pattern>/xml/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error404.jsp</location>
  </error-page>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>  
</web-app>
